include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='en')
	include ../common/head
	body
		include ../common/sprite
		include ../common/1home
		include ../common/2lightpaper
		include ../common/3product
 
		include ../common/footer 
	// END body