section.home
    .container 
        .home__body.lines
            .lines__body
                .lines--center 
            h1.title.home__title
                .letters
                    span.letters__wrap something 
                .letters
                    span.letters__wrap as a service
            .home__items 
                .home__item.animated-block.animated 
                    svg.home__icon.icon
                        use(xlink:href="#digital") 
                    .home__name Digital identity
                    .home__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .home__item.animated-block.animated 
                    svg.home__icon.icon
                        use(xlink:href="#trust") 
                    .home__name Trust Score
                    .home__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .home__item.animated-block.animated 
                    svg.home__icon.icon
                        use(xlink:href="#search") 
                    .home__name Search engine
                    .home__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .home__item.animated-block.animated  
                    svg.home__icon.icon
                        use(xlink:href="#user") 
                    .home__name User friendly
                    .home__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.