section.lightpaper
    .container 
        .lightpaper__body
            .lightpaper__block
                h2.subtitle.lightpaper__title
                    span.letters
                        span.letters__wrap our 
                    br
                    span.letters
                        span.letters__wrap lightpaper
                .lightpaper__text.animated-block.animated  Team is currently working on all its documents.
                .lightpaper__btn 
                    a(href="#").btn
                        span Download
            .lightpaper__broshure
                .lightpaper__img.animated-block.animated 
                    picture
                        source(srcset="img/broshure.png" type="image/webp")
                        img(src="img/broshure.png" alt="broshure")