section.product
    .container 
        .product__body.lines.lines--grey
            .lines__body
                .lines--center 
            h2.title
                span.letters
                    span.letters__wrap Something 
                br
                span.letters
                    span.letters__wrap search 
                span.title-pl.letters
                    span.letters__wrap product