section.product
    .container 
        .product__body.lines.lines--grey
            .lines__body
                .lines--center 
            h2.title
                .letters
                    span.letters__wrap Something 
                .letters
                    span.letters__wrap search 
                    .title-pl
                        span.letters__wrap product