@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInUp {
	animation-name: fadeInUp;
}

@media (print), (prefers-reduced-motion: reduce) {
	.animated {
		animation-duration: 1ms !important;
		transition-duration: 1ms !important;
		animation-iteration-count: 1 !important;
	}
}
.letters {
	overflow: hidden;
	&__wrap {
		display: inline-block;
		transform: translateY(100%);
		transition: -webkit-transform .8s;
		transition: transform .8s;
		transition: transform .8s,-webkit-transform .8s;
		&.lettersUp {
			transform: translateY(0);
		}
	}
}
.animated {
	opacity: 0;
	animation-duration: 1s;
	animation-fill-mode: both;
}